.header{
    background:#323233;
    color:#fff;
    padding:4px;
}
.header p{
    margin:0;
}
.main-menu{
    height: calc(100vh);
    display: flex;
    background-color: #333333;
}
.submenu-container{
    width: 100%;
}
ul{
    padding:0;
}
ul li{
    list-style-type: none;
    margin: 0 10px 10px 10px;
}
ul li mat-icon{
    opacity: 0.5;
    color:#fff;
}
ul li mat-icon:hover{
    cursor: pointer;
    opacity: 1;
}
ul li .active{
    opacity: 0.5 !important;
}